body{
    background-color: #0d0d17;
}

h1{
    color: #999999;
    font-size: xx-large;
}

h2{
    color: #707075;
}

h3{
    font: italic, bold;
}

#general{
    color: #6e6e74;
}

#skills{
    color: #6e6e74;
}

#hobbys{
    color: #6e6e74;
}
#contact-info{
    color: #6e6e74;
}
hr{
    color: whitesmoke;
}