body{
    background-color: #0d0d17;
}

h1{
    color: #FFFFFF;
    font-size: xx-large;
}

h2{
    font-size: x-large;
    color: #FFFFFF;
}

h3{
    font: italic, bold;
    color: #999999;
    font-size: large;
}

#general{
    color: #707075;
}

#skills{
    color: #707075;
}

#hobbys{
    color: #707075;
}

#contact-info{
    color: #707075;
}

hr{
    color: whitesmoke;
}

#portfolio{
    font: italic;
    color: #999999;
}

.flex-container{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item{
    padding: 3rem;
    text-align: center;
}