body{
    background-color: #0d0d17;
}

h1{
    color: #999999;
    font-size: large;
}
h3{
    font: italic, bold;
}

#general{
    color: #6e6e74;
}

#skills{
    color: #6e6e74;
}

#hobbys{
    color: #6e6e74;
}